<!DOCTYPE html>
<html>

<head>

<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<div class="container">

    <!-- LEFT IMAGE -->

    <div class="left">

        <img src="{{ url_for('static', filename='cyber.jpg') }}" alt="Cyber Security">

        <div class="overlay">

        </div>

    </div>


    <!-- RIGHT LOGIN -->

    <div class="right">

        <div class="login-card">

            <h2>Welcome Back</h2>

            <form action="/login" method="POST">

                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter your email" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>

                <div class="forgot">
                    <a href="/forgot">Forgot password?</a>
                </div>

                <button type="submit">Sign In</button>

            </form>

            <p class="register-text">
                New User? <a href="/register">Create Account</a>
            </p>

        </div>

    </div>

</div>

</body>

</html>