<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<title>YouTube Analysis History</title>

<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">

</head>

<body class="bg-slate-950 text-white">

<div class="flex">

<!-- SIDEBAR -->

<div class="w-64 sidebar">

<h2 class="logo">
Phishing Threat Intelligence Dashboard
</h2>

<ul>

<li>
<a href="/admin">
Dashboard
</a>
</li>

<li>
<a href="/admin/web-history">
Detection History
</a>
</li>

<li class="active">
<a href="/admin/youtube-history">
YouTube Analysis
</a>
</li>

<li>
<a href="/admin/settings">
System Settings
</a>
</li>

</ul>

</div>


<div class="flex-1 p-8">

<h1 class="text-3xl font-bold mb-6">
YouTube Analysis History
</h1>

<div class="bg-slate-900 p-6 rounded-xl shadow">

<table class="w-full">

<thead>

<tr class="border-b border-slate-700">

<th>User</th>
<th>Video Title</th>
<th>Result</th>
<th>Date</th>

</tr>

</thead>

<tbody>

{% for row in history %}

<tr class="border-b border-slate-800">

<td>{{row[0]}}</td>
<td>{{row[1]}}</td>

<td>

{% if "Phishing" in row[2] %}

<span class="text-red-400 font-bold">
Possible Phishing
</span>

{% else %}

<span class="text-green-400 font-bold">
Safe Video
</span>

{% endif %}

</td>

<td>{{row[3]}}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

</body>
</html>